.keyboard {
    margin-top: 3.4em;
    width: 100%;
    padding: 10px 0;
}

.keyboard__key {
    height: 5em;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 1.05rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: relative;
    opacity: 0.9;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.keyboard__keypress {
    background: #8b06e4;
}